<!-- seccion estudios-->
<div class="info" id="academica"> 
    <article>
      <h5 class="titulo">{{miPortfolio.titulo2}}</h5>
      <ul>
        <li *ngFor="let educacion of educacionLista">
          <p>{{educacion}}</p>
          <div class="btn delete" type="button"><i class="fa-solid fa-trash"></i></div>
        </li>
        
      </ul>
      <!-- boton Modal --> 
    <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#agregarEstudios" >
      <i class="fa-solid fa-plus"></i>
    </div>
    
    </article>
  </div>


<app-modal-estudios></app-modal-estudios>