  <!-- Modal -->
  <div class="modal fade" id="editFotos" tabindex="-1" aria-labelledby="editFotosLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="form"  novalidate #f="ngForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editFotosLabel">Cambiar imágenes de perfin</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control form-control-sm" formControlName="urlFoto" type="text" placeholder="Introduzca la URL" [(ngModel)]="urlFoto"
          [ngClass]="{'is-invalid': UrlFoto.errors && UrlFoto.touched, 'is-valid': !UrlFoto.errors && UrlFoto.touched}" aria-label=".form-control-sm example">
          <p>Foto- Sobre Mi</p>
          <div *ngIf="UrlFoto.errors && UrlFoto.touched">
            <p *ngIf="UrlFoto.hasError('required')" class="text-danger">
              Ingrese URL de la foto
            </p>
           </div>

         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>