<div class="info" id="proyectos">
    <!--seccion proyectos-->
     <article><h5 class="titulo">Proyectos</h5>
        <div class="d-flex flex-row mb-3" id="card">
        <div class="for" *ngFor="let proyecto of proyectos">
         <figure class="link-proyectos">
            <a class="linkFrecodecamp" [href]="proyecto.urlProyecto" target="_blank">
               <img [src]="proyecto.urlFotoProyecto" class="img-thumbnail" alt="foto proyecto">
               <figcaption class="figure-caption">{{proyecto.nombreP}}</figcaption>
            </a> 
            <!--boton borrar-->
           <div class="btn delete" type="button">
              <i class="fa-solid fa-trash"></i>
            </div>
         </figure> 
      </div> 
         <!--boton agregar proyecto-->
         <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#agregarProyecto" >
           <span style="color: whitesmoke;"> <i class="fa-solid fa-plus"></i></span>
          </div>
        
        </div>
     </article>
    </div>

  <app-modal-proyectos></app-modal-proyectos>