.figure-caption{
    color: antiquewhite;
    text-align: center;
}
.linkFrecodecamp{
    text-decoration: none;
}
.link-proyectos:hover {
    border: solid white; 
    
  }

.fa-solid.fa-trash{
    color: aliceblue;
}