a {
    text-decoration: none;
}
.figure-caption {                 /*texto de las fotos links*/
    color: antiquewhite;
    text-align: center;

}
.figure:hover {
    border: solid white; 
    
  }
  
  .d-flex.flex-row.mb-3 img {   /*fotolinks a secciones*/
    width: auto;
    height: 150px;
    object-fit: cover;
    margin: 15px 8px 8px 15px;
    padding: 4px;
    border-radius: 10%;
    
    }
    
   