 <!-- fotolinks a secciones-->
 <div class="d-flex flex-row mb-3" id="card">
   
   <div class="for" *ngFor="let fotolink of fotolinks">
    <figure class="figure">
      <a [href]="fotolink.link">
        <img [src]="fotolink.url_foto" class="img-thumbnail" alt="fotolink">
        <figcaption class="figure-caption">{{fotolink.seccion}}
        </figcaption>
      </a>
    </figure>
   </div> 
  
    <!-- boton Modal para cambiar la foto de perfil, hacer as adelante
<div *ngIf="modoEdit">
    <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#editFotos" >
      <span style="color: whitesmoke;"> <i class="fa-solid fa-pen-to-square"></i></span>
    </div>
  
  </div>
  </div>
--> 
<!--NO AGREGO BORRAR/AGREGAR PORQUE SIEMPRE DEBERIA HABER 4 FOTOS/LINKS-->

<app-modal-fotos></app-modal-fotos>