 <!-- fotolinks a secciones-->
 <div class="d-flex flex-row mb-3" id="card">
    <figure class="figure"><a href="#personal"><img class="img-thumbnail" [src]="miPortfolio.fotoPersonal" alt="Foto con mi mascota"><figcaption class="figure-caption">SOBRE MI</figcaption></a></figure>
    <figure class="figure"><a href="#academica"><img [src]="miPortfolio.fotoEstudios" class="img-thumbnail" alt="Estudiando en la playa"><figcaption class="figure-caption">MIS ESTUDIOS</figcaption></a></figure>
    <figure class="figure"><a href="#laboral"><img [src]="miPortfolio.fotoExperiencia" class="img-thumbnail" alt="foto de mi trabajo en Mondelez- Milka"><figcaption class="figure-caption">EXPERIENCIA</figcaption></a></figure>
    <figure class="figure"><a href="#skills"><img [src]="miPortfolio.fotoSkills" class="img-thumbnail" alt=""><figcaption class="figure-caption">SKILLS</figcaption></a></figure>
    <figure class="figure"><a href="#proyectos"><img [src]="miPortfolio.fotoProyectos" class="img-thumbnail" alt="Codeando con vista al mar"><figcaption class="figure-caption">PROYECTOS</figcaption></a></figure>
  </div>