<div class="banner">
    <h1 id="nombre">{{persona.nombre}}  {{persona.apellido}}</h1>
    <div class="cargo"> <h2>{{persona.titulo}}</h2> 
     
      <!-- boton editar-->
      <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#editBanner" >
        <span style="color: whitesmoke;"> <i class="fa-solid fa-pen-to-square"></i></span>
      </div>
    </div>
    <!--NO AGREGO BORRAR/AGREGAR PORQUE SIEMPRE DEBERIA HABER 1 PRESENTACION/INFORMACION PERSONAL-->
  </div>
 
  <app-editarBanner></app-editarBanner>