<div class="info" id="skills">
    <!-- seccion skills-->
       <article><h5 class="titulo">Skills</h5>

        <div class="container-fluid">
      <div class="col-md-12">
        <ul id="lista-skills">
          <div class="for" *ngFor="let skill of skills" >
            
            <!--boton borrar skill-->
          <li class="item" >
            <div class="btn delete" type="button">
            <i class="fa-solid fa-trash" (click)="delete(skill.id)"></i>
          </div>

            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Example with label" 
              [style.width.%]="skill.nivel" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.nivel}}%</div>
            </div>
            <p>{{skill.nombreS}}</p>
          </li>
          
        </div>
         
        </ul> 
      </div>
      </div>

  <!-- boton Modal --> 
  <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#agregarSkill" >
    <i class="fa-solid fa-plus"></i>
  </div>
      
      
        </article>
      </div>

<app-modal-skills></app-modal-skills>

<!--No agrego boton editar porque no lo veo necesario para esta seccion
  (si podria querer borrar algo que deja de ser relevante y agregar nuevos)-->