.item {
   line-height: 1.4;
   font-weight: bold;
   padding: 5px;
   background-color: white;
  
  
   
}
ul {
    list-style: none;
   
}
.container-fluid {
   
    display: flex;
    justify-content: center;
    margin: auto;

}
#lista-skills {
    font-weight: bolder;
    line-height: 2.5;
    
    
    }
    
    .flex-item-barras{
    width: 300px;
    margin-left: 2px;
    margin-top: 7px;
    height: 300px;
    }