.item {
   line-height: 1.4;
   font-weight: bold;
   padding: 5px;
   background-color: white;
  
  
   
}
ul {
    list-style: none;
   
}
.container-fluid {
   
    display: flex;
    justify-content: center;
    margin: auto;

}
