.flex-item {
   line-height: 1.4;
   font-weight: bold;
   width: 300%;
   margin-left: 25px;
   padding: 10px;
   background-color: white;
}
ul {
    list-style: none;
    margin-left: 13%;
    
}
.contenedor-flex {
    flex-wrap: wrap;
}
