<div class="info" id="skills">
    <!-- seccion skills-->
       <article><h5 class="titulo">Skills</h5>
     <!-- aca tiene que ir algun tipo de grafico -->
       <div class="contenedor-flex">
        <ul id="lista-skills">
          <li>Ingles oral y escrito:</li>
          <li>Trabajo en equipo: </li>
          <li>Negociación: </li>
          <li>Liderazgo: </li>
          <li>Oratoria: </li>
          <li>Coaching: </li>
          <li>Adaptación al cambio:</li>
        </ul> 
        <div class="flex-item-barras">
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋</span>▋▋ </p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋▋▋ </span></p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋</span>▋▋</p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋</span>▋▋▋▋ </p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋</span>▋▋ </p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋</span>▋▋</p>
          <p><span style="color:rgba(102, 111, 213, 0.772)">▋▋▋▋▋▋▋▋▋▋ </span> </p>
        </div>
      </div>
      <div class="lapiz" id="lapizSkills">
        <i class="fa-solid fa-pen-to-square">
    
        </i>
      </div>
      
      
        </article>
      </div>