<!-- seccion personal-->
<div class="info" id="personal">
  <article><h5 class="titulo">Sobre Mi</h5>
    <div class="for" *ngFor="let sobreMi of sobreMi" >
    <p>{{sobreMi.presentacion}}</p>
<!-- video sobre mi -->
    <div class="container-video">
     <iframe width="320" height="240" [src]="getVideoIframe(sobreMi.urlVideo)"  
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div> 
   <!-- boton Modal --> 
   <button class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" 
   data-bs-target="#editpersonal" routerLink="/sobreMi/edit/{{sobreMi.id}}">
      <i class="fa-solid fa-pen-to-square"></i>
   </button>
 
     
  <!--boton borrar-->
    <div class="btn delete" type="button">
    <i class="fa-solid fa-trash" (click)="delete(sobreMi.id)"></i>
  </div>


</div>
  </article>
  </div>
 
<app-editar-sobre-mi></app-editar-sobre-mi>