<!-- seccion personal-->
<div class="info" id="personal">
    <article><h5 class="titulo">Sobre Mi</h5>
      <video width="320" height="240" controls>
        <source src="assets/video.mp4" type="video/mp4">
        <!--<source src="movie.ogg" type="video/ogg">-->
      </video>
      <p> Mi nombre es Alejandra Bombini, soy de Mar del Plata y quisiera explicar en primera persona porqué pienso que mi experiencia fuera del area de IT va a serme útil en la industria del software.</p>
      <p>Hace 18 años trabajo en Mondelez Argentina, una companía multinacional de consumo masivo, pasando por distintos cargos en al área de ventas y visibilidad, donde aprendí a negociar con clientes y distribuidores, a capacitar y "coachear" vendedores y merchandisers, y aprendí muchísimo de marketing: siento que tengo un master “de campo” en trademarketing.
      Pero sobretodo desarrollé habilidades blandas: a trabajar en equipo, orientada a resultados, a usar mi creatividad para resolver problemas: a pensar <em> "fuera de la caja"</em>, aprendi que se atraen más moscas con miel que con vinagre. Aprendí tanto que se convirtió en mi carrera, mi universidad donde siempre encuentro nuevos desafíos y aprendizajes.</p>
      <p><strong>Aprendí que soy una persona que necesita desafíos, y que cuando pongo mi corazón en lo que hago, disfruto mis logros y eso le da sentido a todo.</strong> </p>
      
      <p>Por eso hace un tiempo, cuando empecé el curso de Argentina Programa y me encontré con un mundo que me apasionó y en el cual quiero sambullirme cada vez mas, supe que era el momento de cambiar y que mi próximo trabajo tenia que ser en la industria del software. 
        Entiendo que es un camino largo, que tengo mucho por aprender: tengo muchas ganas de aprender y voy a disfrutar cada paso. Estoy muy entusiasmada con este cambio en mi vida. 
      </p>
     
     <p>Si quiere saber algo mas sobre mi, hablemos: <a href="https://t.me/alebombini"><i class="fa-brands fa-telegram fa-2xl"></i></a></p>
     
     <div class="lapiz" id="lapizSobreMi"><i class="fa-solid fa-pen-to-square"></i></div>
    </article>
    
  </div>