<div class="info" id="laboral">
    <!-- seccion experiencia laboral-->
     <article>
       <h5 class="titulo"> {{miPortfolio.titulo3}}</h5>
       <div>
        <img class= "logo" [src]="miPortfolio.logo">
        <ul>
          <li *ngFor="let experiencia of experienciaLista">
            <h6>{{experiencia.anios}}, {{experiencia.cargo}} - {{experiencia.empresa}}</h6>
            <div class="btn delete" type="button">
              <i class="fa-solid fa-trash"></i>
            </div>
            <ul>
              <li>{{experiencia.responsabilidades[0]}}</li>
              <li>{{experiencia.responsabilidades[1]}}</li>
              <li>{{experiencia.responsabilidades[2]}}</li>
            </ul>
          </li>
        </ul>
      </div>
            <!-- boton Modal --> 
    <div class="btn lapiz" id="lapizTitulo" type="button" data-bs-toggle="modal" data-bs-target="#agregarExperiencia" >
      <i class="fa-solid fa-plus"></i>
    </div>
    
          
      </article>
    </div>
    <!-- Modal -->
<div class="modal fade" id="agregarExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Introducir Experiencia </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="start">Inicio:</label>
        <br>
        <input type="date" id="start" name="inicio"> 
        <br>

        <label for="start">Fin:</label>
        <br>

        <input type="date" id="end" name="end">
        <br>
        <br>
        <p>Cargo</p> <input class="form-control form-control-sm" type="text" placeholder="Ingrese aqui" aria-label=".form-control-sm example">
        <br>
        <div class="mb-3">
          
          <label for="exampleFormControlTextarea1" class="form-label">Responsabilidades</label>
          <br>
          <input class="form-control form-control-sm" type="text" placeholder="Responsabilidades" aria-label=".form-control-sm example">
          <br>
          <input class="form-control form-control-sm" type="text" placeholder="Responsabilidades" aria-label=".form-control-sm example">
          <br>
          <input class="form-control form-control-sm" type="text" placeholder="Responsabilidades" aria-label=".form-control-sm example">
        </div>
        
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div>