<div class="info" id="laboral">
    <!-- seccion experiencia laboral-->
     <article>
       <h5 class="titulo"> {{miPortfolio.titulo3}}</h5>
       <div>
        <img class= "logo" [src]="miPortfolio.logo">
        <ul>
        <li *ngFor="let experiencia of experienciaLista">
          
          <h6>{{experiencia.anios}}, {{experiencia.cargo}} - {{experiencia.empresa}}</h6>
          
          <ul >
            
            <li>{{experiencia.responsabilidades[0]}}</li>
            <li>{{experiencia.responsabilidades[1]}}</li>
            <li>{{experiencia.responsabilidades[2]}}</li>
            </ul>

        </li>
      </ul>
    </div>
          <div class="lapiz" id="lapizExperiencia">
            <i class="fa-solid fa-pen-to-square">
            </i>
          </div>
      </article>
    </div>