<div class="info" id="laboral">
    <!-- seccion experiencia laboral-->
     <article>
       <h5 class="titulo"> Experiencia profesional</h5>
       <div>
        <h6>2021-Actual: Representante de Visibilidad TT</h6>
        <ul>Tareas a cargo:
            <li>Negociacion de exhibiciones y promociones en puntos de venta estratégicos.</li>
            <li>Coaching de merchandisers Distribuidores.</li>
            <li>Coordinacion, implementacion y presentacion de resultados de acciones de marketing.</li>
          </ul> 
        </div>
         <div><h6>2017-2021: Analista de Mercados TT, Mondelez Internacional.</h6>
           <ul>Tareas a Cargo:
            <li>Coaching fuerza de  ventas de preventistas de 7 distribuidores.</li>
            <li>Gestion y desarrollo de negocios, nuevos clientes.</li>
            <li>Auditorias de mercado: analisis de la gestion de los 7 distribuidores a cargo, detección de oporunidades, armado de informe y presentación de los resultados, gestión de planes de acción, y seguimiento.</li>
           </ul>
          </div>
          <div><h6>2005-20017: Promotora de ventas, Mondelez Internacional</h6>
           <ul>Tareas a cargo:
             <li>Negociacion de exhibiciones en principales puntos de venta</li>
             <li>Coaching, armado de rutas y seguimiento de merchandisers del distribuidor</li>
           </ul>
          </div>
          <div class="lapiz" id="lapizExperiencia">
            <i class="fa-solid fa-pen-to-square">
            </i>
          </div>
      </article>
    </div>