<div class="modal fade" id="agregarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control form-control-sm" type="text" placeholder="Nombre proyecto" aria-label=".form-control-sm example">
         <br>
         <br>
          <input class="form-control form-control-sm" type="text" placeholder="Proyecto -URL" aria-label=".form-control-sm example">
          <br>
         <br>
          <input class="form-control form-control-sm" type="text" placeholder="Imagen- URL" aria-label=".form-control-sm example">
         
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
