.navbar.navbar-expand-sm.bg-success{
  background-color:rgba(102, 111, 213, 0.772) !important;
  max-height:min-content; 
  
} 

a.nav-link.active:hover, .btn.btn-secondary.btn-sm.dropdown-toggle:hover { 
  background-color: rgba(95, 110, 157, 0.993);
}
.btn.btn-secondary.btn-sm.dropdown-toggle {   /*boton idioma*/
  background-color:rgba(175, 181, 241, 0.772);
  font-size: smaller !important;
  
}
.dropdown-item {
  font-size: smaller;
}
.loginbt{
 display: inline-block;

}
#outbt{
  background-color:whitesmoke;
  
}


@media(max-width: 600px) {
 .navbar-right{
  flex-wrap: wrap;
  
 }
 .navbar-nav{
  flex-direction: row !important;
 
 }
 li.nav-item{
  padding: 2px !important;
  
 }
  
  }

