       <!-- Modal -->
       <div class="modal fade" id="agregarSkill" tabindex="-1" aria-labelledby="agregarSkillLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="agregarSkillLabel">Introducir Skill </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="form.valid && onCreate()"
            name="skillsForm">
            <div class="modal-body">
             
              <br>
              
              <br>
              <label for="nombreSkill" class="form-label" >Nombre skill</label>
              <input class="form-control form-control-sm" id="nombreSkill" type="text" placeholder="Ingrese aqui" aria-label=".form-control-sm example"
              formControlName="nombreS">
             <!-- [(ngModel)]="nombreS" [ngClass]="{'is-invalid': NombreS.errors && NombreS.touched, 'is-valid': !NombreS.errors && NombreS.touched}">
              <div *ngIf="NombreS.errors && NombreS.touched">
                  <p *ngIf="NombreS.hasError('required')" class="text-danger">
                    Campo requerido
                  </p>

              </div>-->
              <br>
              <div class="mb-3">  
                <label for="nivelSkills" class="form-label" >Nivel</label>
                <br>
                <input class="form-control form-control-sm" type="number" min="0" max="100" id="nivelSkills" placeholder="Ingrese aqui" aria-label=".form-control-sm example"
                formControlName="nivel" >
               <!-- [(ngModel)]="nivel" [ngClass]="{'is-invalid': Nivel.errors && Nivel.touched, 'is-valid': !Nivel.errors && Nivel.touched}">-->
               <!-- <div *ngIf="Nivel.errors && Nivel.touched">
                  <p *ngIf="Nivel.hasError('required')" class="text-danger">
                    Campo requerido
                  </p>
                  <p *ngIf="Nivel.hasError('min')" class="text-danger">
                    El porcentaje minimo es 0
                  </p>
                  <p *ngIf="Nivel.hasError('max')" class="text-danger">
                    El porcentaje maximo es 100
                  </p>

           -->

              </div>
                        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          </div>
        </div>
        </div>