body {
    color: black;
    text-align: center;
    background-color:rgba(235, 237, 243, 0.95);
    font-family: Arial, Helvetica, sans-serif ;
    
  }

  .btn.lapiz {
    display: block;
  }
  
  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(235, 237, 243, 0.95);
  }
  /*
  #card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid white;
  padding: 2% 2% 2% 2%;
  margin: auto;
  background-color:gray;
  width: 90%;
  border-radius: 10px;
  }*/
  
  
  h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  padding: 10px;
  }
  
  .titulo {
  padding: 10px;
  background-color:rgba(12, 12, 12, 0.1);
  font-family: Impact, serif;
  text-align: center;
  }  
  
  h6 {
  font-weight: bold;
  }
  
  article {
  border: solid white;
  margin: 0 10% 0 10%;
  }
  article p, ul{
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  }
  .contenedor-flex {
  display: flex;
  justify-content: left;
  
  }
  
  /*
  #footer{
  text-align: end;  
  }
  
  .subir {
  color:whitesmoke;
  background-color:  rgba(95, 110, 157, 0.993);
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 6px;
  
  }
  .subir:hover{
  color: rgba(95, 110, 157, 0.993);
  background-color: whitesmoke;
  }
  */

/*
  @media (min-width: 320px) and (max-width: 480px){
    body {
      width: 100%;
    }
  } 
  */